table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  body {
    background-color:rgb(222, 244, 247)
  }

  .coral {
    color: rgb(238, 81, 18);
  }

 .button2 {
    background-color: bisque;
    border: 1px black solid;
    text-decoration: none;
    font-size:160%;
  }

  .button {
    background-color: bisque;
    border: 1px black solid;
    text-decoration: none;
    font-size:160%;
  }
  .apple {
    font-size:160%;
  }
 .meat {
  color:hotpink;
  border-bottom: 10px dotted purple;
 }
 .leo{
  font-style:italic;
 }
 .study{
  background-color:#eeeeee;
  border: 5px purple solid;
  padding: 0% 36%;
 }
 a:link:hover {
  color:green
 }

 nav {
  border: 1px;
  background-color: rgb(241, 241, 208);
  color: rgb(0, 0, 0);
  padding: 6px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
}