form{
  opacity: 100%;
  padding: 10% 100% 0% 0%;
  text-align: left;
  text-shadow: 2px 2px 5px rgb(53, 143, 228);
  font-size:150%;
  flex: 1;
}


.button{
  background-color: rgb(255, 255, 255);
  border: 1.5px black solid;
  font-size:70%;
  display: flex;
  padding: 5px;
  margin-top: 15px; 
}

.signup-image {
width: 55%; 
height: 70%; 
margin-right: auto;
flex: 1; 
align-self: right; 
}


header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}


header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #ff6600;
}

.dropdown {
  position: absolute; 
  margin-right: 20px; 
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ece8c1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

